body {
  background-color: #E3411D;
  font-family: Times, sans-serif;
  margin: 0;
  padding-top: 50px;
  line-height: 1.6;
}

h1 {
  text-align: center;
}

header {
  padding: 20px;
  text-align: center;
  box-shadow: 0 18px 10px rgba(0, 0, 0, 0.1);
}

.logotipo {
    margin-bottom: 0px;
    max-width: 100%; /* Define a largura máxima como 100% do contêiner pai */
    height: auto; 
    }

.logotipo img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#search-container {
  display: flex; /* Usa flexbox para organizar os elementos dentro do container */
  align-items: center; /* Alinha verticalmente os itens */
  max-width: 600px; /* Define a largura máxima da div para manter a responsividade */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 10px; /* Adiciona espaçamento interno */ 
}

/* Estilos para o campo de pesquisa */
.search-bar {
  flex: 1; /* Ocupa o espaço restante disponível */
  margin-right: 10px; /* Espaçamento à direita do campo de pesquisa */
  padding: 12px; /* Adiciona espaçamento interno */
  border: 1px solid #ccc; /* Adiciona borda ao campo */
  border-radius: 5px; /* Borda arredondada */
  font-size: 16px;
  outline: none;
  width: 100%;
  max-width: 600px;
}

/* Estilos para o ícone de pesquisa */
#search-container img {
  cursor: pointer; /* Transforma o cursor em uma mãozinha ao passar sobre o ícone */
}






nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Media query para telas menores */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
    box-shadow: none;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  main {
    padding: 10px;
  }

  footer {
    padding: 5px;
  }
